{% extends 'base.html' %}

{% block title %}Detail Post{% endblock %}

{% block sty %} 

{% endblock %}

{% block content %} 

<div class = "led">
    <h3>{% for name in post.category.all %}{{ name }}{% endfor %}</h3>
</div>

<div class = container style="position:relative">
    {{post.author.user_name}} <br>
    {{post.title}} <br>
    {{post.title_image}} <br>

    {% if post.is_title_more11 %}
        {{ post.get_title_under11 }}
    {% else %}
        {{ post.content }}
    {% endif %}<br>
    {{post.createDate}} <br>
    {{post.updateDate}} <br>
</div>

  


{% endblock %}
