{% extends 'base.html' %}

{% block title %}log in{% endblock %}

{% block sty %} 

<style> 
body { background: #C5E1A5; } 
.led { width: 100%; margin: 30px auto; background: #efefef; text-align: center; color: rgb(63, 63, 63); font-family: sans-serif; transition: ease .3s;}
form { width: 60%; margin: 60px auto; background: #efefef; padding: 60px 120px 80px 120px; text-align: center; -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); box-shadow: 2px 2px 3px rgba(0,0,0,0.1); } 
label { display: block; position: relative; margin: 40px 0px; } 
.label-txt { position: absolute; top: -1.6em; padding: 10px; font-family: sans-serif; font-size: .8em; letter-spacing: 1px; color: rgb(63, 63, 63); transition: ease .3s; } 
.input { width: 100%; padding: 10px; background: transparent; border: none; outline: none; } 
.line-box { position: relative; width: 100%; height: 2px; background: #BCBCBC; } 
.line { position: absolute; width: 0%; height: 2px; top: 0px; left: 50%; transform: translateX(-50%); background: #8BC34A; transition: ease .6s; } 
.input:focus + .line-box .line { width: 100%; } 
.label-active { top: -3em; } 
button { display: inline-block; padding: 12px 24px; background: rgb(220,220,220); font-weight: bold; color: rgb(120,120,120); border: none; outline: none; border-radius: 3px; cursor: pointer; transition: ease .3s; } 
button:hover { background: #8BC34A; color: #ffffff; } 
</style>


{% endblock %}

{% block content %} 
<!--
<div>
<form>
  <p></p>
  <br>
  <div class = "container">
    <div class = "container">
      <div class = "container">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">로그인</button>
    </div>
  </div>
  </div>
</form>
</div>
-->
{% if user.is_authenticated %}
<div class = "led">
  <h3>이미 로그인 되어 있습니다.</h3>
</div>

{% else %}

<div class = "led">
  <h3>로그인</h3>
</div>
<form action = "{% url 'account:log_in' %}" method = "POST">
  {% csrf_token %}

  <label> 
    <p class="label-txt">ID</p> 
    <input type="text" class="input" name = "user_id"> 
    <div class="line-box"> 
      <div class="line">
      </div> 
    </div> 
  </label> 
  <label>
      <p class="label-txt">PASSWORD</p> 
      <input type="password" class="input" name = "password">
      <div class="line-box"> 
        <div class="line">
        </div>
      </div>
  </label>
  <p></p>
    <button type="submit">submit</button>
    
</form> 
{% endif %}

<script> $(document).ready(function(){ 
    $('.input').focus(function(){
      $(this).parent().find(".label-txt").addClass('label-active'); 
    }); 

    $(".input").focusout(function(){ if ($(this).val() == ''){ 
      $(this).parent().find(".label-txt").removeClass('label-active'); 
    }; 
  }); 
  
  }); 
  
</script>

{% endblock %}
