{% extends 'base.html' %}

{% block title %}Simulation{% endblock %}

{% load static %}


{% block sty %} 
    <style>
        h5 { 
            transition: 0.5s;
        }
        h5:hover {color: rgb(255, 138, 70); background-color: white;}
    </style>
{% endblock %}

{% block content %}

</div>
<ul>
    <div class = "row">
        <div class = "row-12">
            <div class = "container" style = "margin: 13%">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/formation/4-1-2-1-2.PNG' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                        <p class="card-text">대충 설명</p>
                        <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>

                      </div>
                  </div>
                </div>
            </div>
            <div class = "row-12">
                <div class = "container" style = "margin: 13%">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/formation/4-1-2-3.PNG' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                            <p class="card-text">대충 설명</p>
                            <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>
    
                          </div>
                      </div>
                    </div>
                </div>
                <div class = "row-12">
                    <div class = "container" style = "margin: 13%">
                        <div class="card" style="width: 18rem;">
                            <img src="{% static 'img/formation/4-2-1-3.PNG' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                                <p class="card-text">대충 설명</p>
                                <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>
        
                              </div>
                          </div>
                        </div>
                    </div>

                    <div class = "row-12">
                        <div class = "container" style = "margin: 13%">
                            <div class="card" style="width: 18rem;">
                                <img src="{% static 'img/formation/4-2-3-1.PNG' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                                    <p class="card-text">대충 설명</p>
                                    <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>
            
                                  </div>
                              </div>
                            </div>
                        </div>

                        <div class = "row-12">
                            <div class = "container" style = "margin: 13%">
                                <div class="card" style="width: 18rem;">
                                    <img src="{% static 'img/formation/4-3-3.PNG' %}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                                        <p class="card-text">대충 설명</p>
                                        <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>
                
                                      </div>
                                  </div>
                                </div>
                            </div>

                            <div class = "row-12">
                                <div class = "container" style = "margin: 13%">
                                    <div class="card" style="width: 18rem;">
                                        <img src="{% static 'img/formation/4-4-2.PNG' %}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title"><a class = "btn-outline-white">4-1-2-1-2</a></h5>
                                            <p class="card-text">대충 설명</p>
                                            <p class = "card-text">필요한 설명도 좋고 뭣도 괜찮고</p>
                    
                                          </div>
                                      </div>
                                    </div>
                                </div>
    </div>

{% endblock %}